/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font: 24px/1 sans-serif;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/


/*
	Jsem na tebe hodný a už jsem ti připravil
	základní styl pro logo a pro odkazy.
*/
.hlavicka {
	padding: 10px;
	border: 1px solid silver;
}

.logo {
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #e74c3c;
	display: block;
	padding: 10px 20px;
}

a:hover {
	background-color: #e74c3c;
	color: white;
}


/* Výchozí obrazovka */


.menu{
	margin-top: 20px;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}


a{
	margin-bottom: 2px;
}

/* Více než 640px */

@media screen and (min-width: 640px)
	{ 
		ul{
			display: flex;
			justify-content: space-around;
		}

		li{
			flex: 1 1 25%;
			padding: 2px;
		}

	}

/* Více než 1000px */

@media screen and (min-width: 1000px)
	{
		.hlavicka{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.menu{margin: 0;}

	}